.E404{
	display: block;
	margin: 0 auto;
	background-image: url('images/404-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	height: 700px;
	max-height: 100vh;
	max-width: 100%;
	margin-bottom: $baseline;
	padding: 10px 0 0 20px;
	&-title{
		text-align: left;
		color: $red;
		margin-bottom: 50px;
		margin-top: 0;
		margin-right: 0;
		font-size: 3em;
		max-width: 95%;
	}
	&-link{
		text-align: left;
		a{
			text-decoration: none;
			color: $gray-txt;
			padding: 20px;
			background-color: $white;
			box-shadow: $box-shadow;
		}
	}
}
.E404::after{

}


@media screen and (max-width : 800px){
	.E404{
		padding: 15px 0 0 15px;
		margin-bottom: 0;
	}
}

@media screen and (max-width : 500px){
	.E404{
		height: 90vh;
		&-title{
			font-size: 2em;
			margin-bottom: 100px;
		}
	}
}

@media screen and (max-width : 400px){
	.E404{
		height: 90vh;
		&-title{
			font-size: 1.5em;
			text-align: center;
		}
	}
}