.About{
	&-title{
		text-align: center;
		color: $red;
		font-size: $h1;
		margin-bottom:$baseline;
	}
	&-article{
		display: flex;
		justify-content: space-between;
		background: $white;
		padding: $baseline;
		margin-bottom: $baseline;
		box-shadow: $box-shadow;
		&-pic{
			width: 207px;
			height: 207px;
			border-radius: 50%;
		}
		&-profile{
			max-width: 500px;
			&-name{
				font-size: $h2;
				font-family: 'Asap';
				text-align: center;
				margin: $margin;
				font-weight: 700;
			}
			&-text{
				font-size: $p;
				a{
					color: $red;
					font-weight: 700;
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (max-width : 800px){
	.About{
		margin-right: $margin-tablet;
		margin-left: $margin-tablet;
		&-article{
			display: block;
			&-pic{
				margin: 0 auto 5px auto;
				width: 150px;
				height: 150px;
				display: block;
			}
			&-profile{
				max-width: auto;
			}
		}
	}
}

@media screen and (max-width : 500px){
	.About{
		margin-right: $margin-mobile;
		margin-right: $margin-mobile;
		&-title{
			font-size: $h1-mobile;
			margin: 0 0 $baseline-mobile 0;
		}
		&-article{
			display: block;
			margin-bottom: $baseline-mobile;
			&-pic{
				width: 100px;
				height: 100px;
				margin: 0 auto 5px auto;
				display: block;
			}
			&-profile{
				&-name{
					margin-bottom: $baseline-mobile;
				}
				&-text{
					font-size: $p-mobile;
					margin:0;
				}
			}
		}
	}
}