.Article{
	max-width:100%;
	background-color: $white;
	padding: $baseline;
	margin-bottom: $baseline;
	box-shadow: $box-shadow;
	&-title{
		font-size: $h1;
		font-weight: 700;
		margin: $margin;
		line-height: $lh-title;
		color: $black;
		word-wrap: break-word;
	}
	&-info{
		display:flex;
		justify-content: space-between;
		padding-bottom: $baseline;
		border-bottom: $bottom-line;
		margin-bottom: $baseline;
	}
	&-entradilla{
		font-size: $h3;
		line-height: $lh-entradilla;
	}
	&-text{
		font-size: $p;
		line-height: $lh-p;
		margin-bottom: $baseline;
	}
}

.status{
	font-size: $h3;
	font-weight: 700;
	font-family: 'Asap';
	font-style: italic;
	margin: $margin;
	color: $red;
}

/*STYLES FOR CAPTIONS*/

.wp-caption{
	background: none;
	border: none;
	&-text{
		text-align: right;
		margin-right: 10px;
		margin-top: -5px;
		font-style: italic;
		font-family: 'Asap';
	}
}


@media screen and (max-width : 800px){
	.Article{
		margin-right: $margin-tablet;
		margin-left: $margin-tablet;
	}
	.status{
		margin-left: $margin-tablet;
	}
}

@media screen and (max-width : 500px){
	.Article{
		margin-right: $margin-mobile;
		margin-left: $margin-mobile;
		padding: $margin-mobile;
		&-title{
			font-size: $h1-mobile;
			margin-bottom: $baseline-mobile;
		}
		&-entradilla{
			font-size: $h3-mobile;
		}
		&-text{
			font-size: $p-mobile;
		}
	}
	.status{
		margin-left: $margin-mobile;
		margin-bottom: $baseline-mobile;
		font-size: $h3-mobile;
	}
}

@media screen and (max-width : 400px){
	.Article-text{
		font-size: .9em;
	}
}