.Author{
	font-family: 'Asap';
	display: flex;
	align-items: center;
	text-align: center;
	&-pic{
		width: 30px;
		border-radius:50%;
		height: 30px;
		padding-right: 5px;
	}
	&-name{
		margin:0;
		font-weight: 700;
		padding-right: 5px;
	}
	span{
		font-style: italic;
		font-weight: 400;
	}
	span::before{
		content: '|';
		padding-right: 5px;
	}
}

@media screen and (max-width : 500px){
	.Author{
		font-size: .7em;
	}
}