i.burguer-bottom{
	display: none;
}

.container-top{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}


.barra-superior{
	padding: 5px 0;
	background-color: $gray-txt;
	width: 100%;
	margin-bottom: $baseline;
	&-icons{
		margin-left: $margin-mobile;
		i{
			font-size: 1.6em;
			margin-right: 30px;
			color: white;
		}
		i:hover{
			color: $gray-bg;
		}
	}
	&-logo{
		display: none;
	}
}

@media screen and (max-width: 800px){
	.barra-superior{
		&-icons{
			margin-left: $margin-tablet;
		}
	}
}
@media screen and (max-width: 550px){
	.barra-superior{
		&-icons{
			margin-left: 10px;
		}
	}
}
@media screen and (max-width: 500px){
	i.burguer-button{
		display: block;
		color: white;
		font-size: 2em;
		margin-left: $margin-mobile;
		margin-top: 15px;
	}
	.barra-superior{
		&-icons{
			display: none;
		}
		&-logo{
			display: block;
			width: 70%;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
}