.Buscar{
	text-align: right;
	margin-right: $margin-mobile;
	&-input{
		width: 320px;
		height: 20px;
		border-radius: 5px;
		background: $white;
		&-mob{
			display: none;
			position: absolute;
			top: 72px;
			right: 0;
			border-radius: 5px;
		}
	}
}
.fa-search:before {
    content: "\f002";
    font-size: 1.25em;
    color: white;
}

@media screen and (max-width : 890px){
	.Buscar{
		margin-top: 8px;
		margin-bottom: $baseline-mobile;
		display: block;
		&-input{
			display: none;
		}
		#buscar-icon{
			font-size: 1.6em;
		}
	}
}

@media screen and (max-width : 800px){
	.Buscar{
		margin-right: $margin-tablet;
	}
}
