.Buscar{
	text-align: right;
	margin-bottom: $baseline;
	&-input{
		width: 320px;
		height: 20px;
		border-radius: 5px;
		background: $white;
	}
}
.fa-search:before {
    content: "\f002";
    font-size: 1.25em;
    color: $beige;
}

@media screen and (max-width : 800px){
	.Buscar{
		margin-right: $margin-tablet;
	}
}

@media screen and (max-width : 500px){
	.Buscar{
		margin-top: $margin-mobile;
		margin-right: $margin-mobile;
		margin-bottom: $baseline-mobile;
		&-input{
			display: none;
		}
	}
	.fa-search:before {
    font-size: 1.8em;
	}
}
