.Etiqueta{
	display: flex;
	font-family: 'Asap';
	align-items: center;
	&-name{
		margin:0;
		padding: 3px;
		margin-left: 5px;
		text-transform: lowercase;

	}
	a{
		text-decoration: none;
		color: $gray-txt;
	}
}

@media screen and (max-width : 400px){
	.Etiqueta{
		font-size: .7em;
	}
}
