.Feed{
	display: flex;
  flex-wrap: wrap;
  margin-bottom: $baseline;
  &-wrapper{
  	width: 30.33%;
  	padding: 0 15px;
  }
  a{
  	text-decoration:none;
  }
	&-article{
		background-color: $white;
		width: 100%;
		box-shadow: $box-shadow;
		margin-bottom: $baseline;
		height: auto;
		img{
			width: 100%;
			height: auto !important;
		}
		figure{
			margin:0;
		}
		&-text{
			padding:10px;
			&-title{
				margin:0;
				padding-bottom: 15px;
    		margin-bottom: 15px;
    		border-bottom: 1px $beige solid;
    		line-height: $lh-title;
    		color: $black;
    		word-wrap: break-word;
			}
		}
	}
}

@media screen and (max-width: 1024px){
	.Feed{
		&-wrapper{
			width:45.8%;
		}
	}
}

@media screen and (max-width : 800px){
	.Feed{
		margin-right: $margin-tablet;
		margin-left: $margin-tablet;
	}
}

@media screen and (max-width : 767px){
	.Feed{
		&-wrapper{
			width: 44%;
		}
	}
}

@media screen and (max-width : 690px){
	.Feed{
		&-wrapper{
			width: 100%;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width : 500px){
	.Feed{
		display:block;
		margin: 0 $margin-mobile $baseline-mobile $margin-mobile;
		&-wrapper{
			width: auto;
			&-pic{
				height: 250px;
			}
		}
	}
}

