.Feed{
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
	&-article{
		background-color: $white;
		width: 30.33%;
		box-shadow: $box-shadow;
		margin-bottom: $baseline;
		&-pic{
			width: 100%;
		}
		&-text{
			padding:10px;
			&-title{
				margin:0;
				padding-bottom: 15px;
    		margin-bottom: 15px;
    		border-bottom: 1px $beige solid; 
			}
		}
	}
}