.Feed{
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
	&-article{
		background-color: $white;
		width: 30.33%;
		box-shadow: $box-shadow;
		margin-bottom: $baseline;
		&-pic{
			width: 100%;
		}
		&-text{
			padding:10px;
			&-title{
				margin:0;
				padding-bottom: 15px;
    		margin-bottom: 15px;
    		border-bottom: 1px $beige solid;
    		line-height: $lh-title;
    		color: $black;
			}
		}
	}
}

@media screen and (max-width : 800px){
	.Feed{
		margin-right: $margin-tablet;
		margin-left: $margin-tablet;
		&-article{
			width:48%;
		}
	}
}

@media screen and (max-width : 500px){
	.Feed{
		display:block;
		margin: 0 $margin-mobile $baseline-mobile $margin-mobile;
		&-article{
			width: auto;
			&-pic{
				height: 250px;
			}
		}
	}
}

