.Figure{
	margin-bottom: $baseline;
	margin: $margin;
	img{
		width: 100%;
		text-align: center;
		height: auto;
	}
	&-caption{
		font-size: .8em;
		font-style: italic;
		text-align: right;
		margin: 0;
	}
}

@media screen and (max-width : 500px){
	.Figure{
		margin: 0 0 $baseline-mobile 0;
		&-caption{
			font-size: .6em;
		} 

	}
}