

#footer-bg{
	background-color: $gray-txt;
	font-family: 'Asap';
	// position: relative;
}

.Footer{
	padding: $baseline 0;
	display: flex;
	color: $white;

	&-derecha{
		margin-right: 100px;
		width: 30%;
	}
	&-logo{
		width: 100%;
		margin-bottom: 75px;
	}
	a{
		text-decoration: none;
	}
	&-menu{
		display: flex;
		justify-content: space-between;
		width: auto;
		margin-top: 30px;
		&-list{
			padding:0;
			margin: 0;
		}
		&-list:first-child{
			margin-right: 100px;
		}
		&-item{
			color: $white;
			text-decoration: none;
			list-style-type: none;
			font-size: 0.7em;
			padding-bottom: 10px;
			
		}
	}
	&-copy{
		font-size: .7em;
		margin:0;
		text-align: center;
	}
	&-copymob{
		display: none;
	}
	&-autor{
		color: $white;
		position: absolute;
		bottom:10px;
		right: 20px;
		text-align: center;

		&-texto{
			font-size: .5em;
			margin: 0;
			text-align: center;
			text-decoration: none;
			color: $white;
		}
		&-logo{
			width:40px;
		}
	}
}

.stikybottom {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}

@media screen and (max-width: 900px){
	.Footer{
		display:block;
		&-derecha{
			width: auto;
			margin: 0;
		}
		&-logo{
			display: block;
			margin: 0 auto;
			width: 50%;
		}
		&-copy{
			display: none;
		}
		&-copymob{
			display: block;
			text-align: center;
			font-size: .6em;
		}
		&-menu{
			justify-content: center;
			&-list:first-child{
				margin-right: 50px;
			}
		}
	}
}

@media screen and (max-width: 500px){
	.Footer{
		&-menu{
			margin-left: $margin-mobile;
			&-list:first-child{
				margin-right: 50px;
    		margin-left: 20px;
			}
			&-item{
				font-size: .6em;
			}
		}
		&-autor{
			&-texto{
				font-size: .4em;
			}
			&-logo{
				width:35px;
			}
		}
	}
}