.Header{
	text-align: center;
	&-logo{
		width: 495px;
		margin: 0 auto $baseline auto;
		display: block;
	}
}

.Nav{
	background-color: $white;
	height: 70px;
	margin-bottom: $baseline;
	box-shadow: $box-shadow;
	&-list{
		display: flex;
		text-align: center;
		padding: 0;
		height: 100%;
		align-items: center;
		justify-content: space-between;
		&-item{
			align-items: center;
			list-style-type: none;
			width: 16%;
			line-height: 1.2em;
		}
		a{
			text-decoration: none;
			color: $gray-txt;
			font-family: 'Asap', sans-serif;
			font-size: 1em;
			font-weight: 700;
		}
		a:hover{
			color: $red;
			transition: .3s;
		}
	}
}

//arrow display menu mobile
.fa-caret-down:before {
    content: "\f0d7";
    color: $beige;
    font-size: 2em;
    display: none;
}

.Mobile{
	margin: 0 10px;
	background: $gray-bg;
	font-family: 'Asap';
	padding: 10px;
	text-align: center;
	position: fixed;
	display: none;
	z-index: 2;
	top: 20%;
	left: 10%;

	&-header{
		position:relative;
	}
	&-title{
		color: $red;
		font-size: 2em;
		margin: 0;
	}
	&-list{
		padding:0;
		&-item{
			list-style-type: none;
			background: $white;
			margin-bottom: 15px;
			color: $gray-txt;
			font-weight: bold;
			padding: 8px 0;
		}
		a{
			text-decoration: none;
		}
	}
}
.fa-times-circle-o:before {
	position: absolute;
	top:12px;
	right: 20px;
	font-size: 2em;
}

//Tengo que darle a body overflow: hidden!!

.darkbg{
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba($black, .8);
	position: absolute;
	display: none;
}
.active{
	display: block;
}
.hidden{
	display: none;
}

@media screen and (max-width : 800px){
	.Header{
		&-logo{
			width: 60%;
		}
	}

	.Nav-list{
		a{
			font-size: 0.9em;
		}
	}
}

@media screen and (max-width : 500px){
	.Nav{
		display: none;
	}
	
	.fa-caret-down:before {
    display: block;
	}
}
