.Header{
	text-align: center;
	&-logo{
		width: 495px;
		margin: 0 auto;
		display: block;
	}
}

.menu{
	background-color: $white;
	height: 70px;
	margin-bottom: $baseline;
	box-shadow: $box-shadow;
	&-item{
			align-items: center;
			list-style-type: none;
			width: 16%;
			line-height: 1.2em;
	}
	a{
		text-decoration: none;
		color: $gray-txt;
		font-family: 'Asap', sans-serif;
		font-size: 1em;
		font-weight: 700;
	}
	a:hover{
		color: $red;
		transition: .3s;		
	}
}

#menu-header{
	display: flex;
	text-align: center;
	padding: 0;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

//arrow display menu mobile
.fa-caret-down:before {
    content: "\f0d7";
    color: $beige;
    font-size: 2em;
    display: none;
}

.Mobile{
	margin: 0 $margin-mobile;
	background: $gray-bg;
	font-family: 'Asap';
	padding: 10px;
	text-align: center;
	// position: fixed;
	display: block;
	z-index: 2;
	top: -9999px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
	width: 90%;
	&-header{
		position:relative;
		height: 54px;
	}
	&-title{
		color: $red;
		font-size: 2em;
		margin: 0;
	}
	&-list{
		padding:0;
		&-item{
			list-style-type: none;
			background: $white;
			margin-bottom: 15px;
			color: $gray-txt;
			font-weight: bold;
			padding: 8px 0;
		}
		a{
			text-decoration: none;
		}
	}
}
.fa-times-circle-o:before {
	position: absolute;
	top:12px;
	right: 20px;
	font-size: 2em;
}

.darkbg{
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba($black, .8);
	position: absolute;
	display: none;
}
.active{
	display: block;
}

.active-menu{
	display:block;
	transition: all .2s ease;
	top: 13%;
}
.hidden{
	display: none;
}

.overflow{
	overflow:hidden;
}

@media screen and (max-width : 800px){
	.Header{
		&-logo{
			width: 60%;
		}
	}

	.menu{
		a{
			font-size: 0.9em;
		}
	}
}

@media screen and (max-width : 500px){
	.Header{
		// el icono es algo más alto
		&-logo{
			margin-bottom: 0;
		}
	}

	.menu{
		display: none;
	}
	
	.fa-caret-down:before {
    display: block;
	}
}

@media screen and (max-width : 500px){
	
}
