.Principal{
	margin: 0 0 $baseline 0;
	position: relative;
	box-shadow: $box-shadow;
	height: 457px;
	&-pic{
		width: 100%;
		height:100%;
	}
	&-desc{
		width:58%;
		background-color: rgba($white,.8);
		padding: 15px;
		position: absolute;
    bottom: 22%;
    &-title{
    	margin:0;
    	font-size:$h1;
    	padding-bottom: 15px;
    	margin-bottom: 15px;
    	border-bottom: 1px $beige solid;
    	color: $black;
    	line-height: $lh-title;
    }
	}
}

@media screen and (max-width : 1000px){
	.Principal{
		height:auto;
		&-desc{
			&-title{
				font-size:$h1-tablet;
			}
		}
	}
}