<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lex Contractum</title>
	<link rel="stylesheet" href="../style.css">
	<link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i|Merriweather:400,400i,700" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="container">
		<div class="Buscar">
			<input type="text" class="Buscar-input">
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
		<header class="Header">
			<img class="Header-logo" src="../images/logo.svg" alt="">
		</header>
		<nav class="Nav">
			<ul class="Nav-list">
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">HOME</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">MERCANTIL INTERNACIONAL</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">FISCAL INTERNACIONAL</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">PROPIEDAD INDUSTRIAL E INTELECTUAL</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">¿QUIENES SOMOS?</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">CONTACTA</a></li>
			</ul>
		</nav>
		<!-- HEADER -->
		<!-- CONTENT -->
		<div class="wrapper">
			<section class="About">
				<h1 class="About-title">¿Quienes somos?</h1>
				<article class="About-article">
					<img src="https://randomuser.me/api/portraits/men/85.jpg" alt="" class="About-article-pic">
					<div class="About-article-profile">
						<h2 class="About-article-profile-name">Oscar Guinea</h2>
						<p class="About-article-profile-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur soluta maiores expedita neque itaque quidem tempore aspernatur fugit quos, aliquam doloribus distinctio sed, autem voluptate repudiandae voluptatem et, corporis labore.</p>
					</div>
					
				</article>
				<article class="About-article">
					<img src="https://randomuser.me/api/portraits/men/85.jpg" alt="" class="About-article-pic">
					<div class="About-article-profile">
						<h2 class="About-article-profile-name">Oscar Guinea</h2>
						<p class="About-article-profile-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur soluta maiores expedita neque itaque quidem tempore aspernatur fugit quos, aliquam doloribus distinctio sed, autem voluptate <a href="#">twitter</a> repudiandae voluptatem et, corporis labore.</p>
					</div>
				</article>
			</section>
		</div>
		<!-- CONTENT -->
		<script src="https://use.fontawesome.com/574a157edd.js"></script>
</body>
</html>