<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lex Contractum</title>
	<link rel="stylesheet" href="../style.css">
	<link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i|Merriweather:400,400i,700" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="container">
		<div class="Buscar">
			<input type="text" class="Buscar-input">
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
		<header class="Header">
			<img class="Header-logo" src="../images/logo.svg" alt="">
		</header>
		<nav class="Nav">
			<ul class="Nav-list">
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">HOME</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">MERCANTIL INTERNACIONAL</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">FISCAL INTERNACIONAL</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">PROPIEDAD INDUSTRIAL E INTELECTUAL</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">¿QUIENES SOMOS?</a></li>
				<li class="Nav-list-item"><a class="Nav-list-link" href="#">CONTACTA</a></li>
			</ul>
		</nav>
		<!-- HEADER -->
		<!-- CONTENT -->
		<div class="wrapper">
			<section class="Contacta">
				<h1 class="Contacta-title">Contacta</h1>
				<article class="Contacta-formulario">
					<p class="Contacta-formulario-text">Si quieres ponerte en contacto con nosotros, rellena este formulario y nos pondremos en contacto contigo tan pronto como sea posible.</p>
					<form class="Contacta-formulario-form"action="#">
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" placeholder="Manuel García...">
						<label for="email">Email:</label>
						<input type="email" id="email" placeholder="manuel@ejemplo.com">
						<label for="asunto">Asunto:</label>
						<input type="text" id="asunto">
						<label for="ayuda">En qué podemos ayudarte?</label>
						<textarea name="ayuda" id="ayuda" cols="30" rows="6"></textarea>
						<button>Enviar</button>
					</form>
				</article>
			</section>		
		</div>
		<!-- CONTENT -->
		<script src="https://use.fontawesome.com/574a157edd.js"></script>
</body>
</html>