<footer class="Footer">
	<img class="Footer-logo" src="" alt="">
	<nav class="Footer-menu">
		<ul class="Mobile-list">
			<a href="lexcontractus.es"><li class="Footer-menu-item">HOME</li></a>
			<a href="http://lexcontractus.es/category/mercantil/"><li class="Footer-menu-item">MERCANTIL INTERNACIONAL</li></a>
			<a href="http://lexcontractus.es/category/fiscal-internacional/"><li class="Footer-menu-item">FISCAL INTERNACIONAL</li></a>
		</ul>
		<ul>
			<a href="http://lexcontractus.es/category/propiedad-industrial-e-intelectual/"><li class="Footer-menu-item">PROPIEDAD INDUSTRIAL E INTELECTUAL</li></a>
			<a href="http://lexcontractus.es/quienes-somos/"><li class="Footer-menu-item">¿QUIENES SOMOS?</li></a>
			<a href="http://lexcontractus.es/contacta/"><li class="Footer-menu-item">CONTACTO</li></a>
		</ul>
	</nav>
	<div class="Footer-autor">
		<p class="Footer-autor-texto">DESIGN & DEVELOPMENT</p>
		<img src="" alt="" class="Footer-autor-logo">
	</div>
</footer>