
/**
*Colors
**/

$gray-bg: #EBEBEB;
$gray-txt: #5D5A59;
$white: #F4F5F0;
$black: #2D2926;
$beige: #D0C4B6;
$red: #690000;


/**
*Layout
**/

$baseline: 30px;
$bottom-line: 1px $beige solid;
$margin: 0 0 $baseline 0;

//Tablet
$margin-tablet: 20px;

/**
*Effects
**/

$box-shadow:0 3px 8px rgba($black, .2);

/**
*Type
**/

$h1: 2.25em;
$h2: 1.5em;
$h3: 1.375em;
$p: 1.13em;

//Tablet
$h1-tablet: 1.9em;

/**
*Line-Height
**/

$lh-title: 1.325em;
$lh-p: 1.7em;
$lh-entradilla: 1.6em;

/**
*Sizes
**/

$tablet-width: 800px;
$mobile-width: 500px;
