
/**
*Colors
**/

$gray-bg: #EBEBEB;
$gray-txt: #5D5A59;
$white: #F4F5F0;
$black: #2D2926;
$beige: #D0C4B6;


/**
*Layout
**/

$baseline: 30px;

/**
*Effects
**/

$box-shadow:0 3px 8px rgba($black, .2);